{% extends 'arena/dash_base.html' %}
{% load static %}
{% block title %}Manage Events{% endblock %}
{% block content %}
    <div class="content__inner">
        <header class="content__title">
            <h1>Manage All Event Center</h1>
        </header>

        <div class="card">
            <div class="card-body">
                {% if all_event %}
                    <div class="accordion" id="accordionExample">
                        {% for center in all_event %}
                            <div class="card">
                                <div class="card-header">
                                    <a data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" class="collapsed" aria-expanded="false">
                                        <i class="fa fa-caret-down"></i>&nbsp;{{ center.name | upper }}
                                        <span class="pull-right">
                                                {{ center.owner }}&nbsp;<i class="fa fa-user"></i>
                                            </span>
                                    </a>
                                </div>

                                <div id="collapse{{ forloop.counter }}" class="collapse {% if forloop.counter == 1 %}show{% endif %}" data-parent="#accordionExample" style="">
                                    {#                                        <img class="card-img-top" src="{{ center.image_rep.url }}" alt="" style="height:200px;width:50%">#}
                                    <div class="col-md-12" style="background:url('{{ center.image_rep.url }}') no-repeat center center; background-size:cover;height:300px;"></div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>
                                                    <b><i class="zwicon-bar-code"></i>&nbsp;Reference ID:</b>&nbsp;<code>{{ center.ref_id }}</code>
                                                </p>
                                                <p>
                                                    <b><i class="zwicon-more-v"></i>&nbsp;Category:</b>&nbsp;{{ center.category }}
                                                </p>
                                                <p>
                                                    <b><i class="zwicon-phone"></i>&nbsp;Phone:</b>&nbsp;{{ center.phone }}
                                                </p>
                                                <p>
                                                    <b><i class="fa fa-envelope"></i>&nbsp;Email:</b>&nbsp;{{ center.mail }}
                                                </p>
                                                <p>
                                                    <b><i class="fa fa-globe"></i>&nbsp;Website:</b>&nbsp;<a href="http://{{ center.website }}">{{ center.website }}</a>
                                                </p>
                                                <p>
                                                    {% if center.can_book %}
                                                        <b><i class="fa fa-check text-success"></i>&nbsp;This event center can be booked</b>
                                                    {% else %}
                                                        <b><i class="fa fa-close text-danger"></i>&nbsp;This event center cannot be booked</b>
                                                    {% endif %}
                                                </p>
                                                <p>
                                                    <b><i class="zwicon-my-location"></i>&nbsp;Address:</b>&nbsp;{{ center.address }}
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <p>
                                                    {% if not center.availability %}
                                                        <b>Status:</b> <i class="fa fa-close text-danger"></i>&nbsp;[Currently not available]
                                                    {% else %}
                                                        <b>Status:</b> <i class="fa fa-check text-success"></i>&nbsp;[Currently Available]
                                                    {% endif %}
                                                </p>
                                                <p>
                                                    <b><i class="fa fa-star text-warning"></i>&nbsp;Rating:</b>&nbsp;{{ center.rating }}
                                                </p>
                                                <p>
                                                    <b><i class="zwicon-compass"></i>&nbsp;Country:</b>&nbsp;{{ center.country }}
                                                </p>
                                                <p>
                                                    <b><i class="zwicon-compass"></i>&nbsp;State:</b>&nbsp;{{ center.state }}
                                                </p>
                                                <p>
                                                    <b><i class="zwicon-clock"></i>&nbsp;Since:</b>&nbsp;{{ center.date_history }}
                                                </p>
                                                <p>
                                                    <b><i class="zwicon-calendar-month"></i>&nbsp;Date Registered:</b>&nbsp;{{ center.date_registered }}
                                                </p>
                                                <p>
                                                    <a href="{% url 'arena:arena_dashboard:addEventCenter'%}?center={{ center.ref_id }}&id={{ center.id }}&pos={{ all_event.number }}" class="btn btn-outline-theme-dark"><i class="zwicon-edit-square-feather"></i> Update Event Center</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="col-md-12" style="padding-top:20px">
                            {% if all_event.has_other_pages %}
                                <nav>
                                <ul class="pagination justify-content-center">
                                {# For direct first page button #}
                                {% if all_event.number == 1 %}
                                    <li class="page-item pagination-first disabled">
                                        <a class="page-link" href="#"><i class="zwicon-expand-left"></i></a>
                                    </li>
                                {% else %}
                                    <li class="page-item pagination-first">
                                        <a class="page-link" href="{% url 'arena:arena_dashboard:viewAllEventCenter' %}?page=1"><i class="zwicon-expand-left"></i></a>
                                    </li>
                                {% endif %}
                                {# end of direct first page button #}

                                {# for previous page button #}
                                {% if all_event.has_previous %}
                                    <li class="page-item pagination-prev"><a class="page-link" href="{% url 'arena:arena_dashboard:viewAllEventCenter' %}?page={{ all_event.previous_page_number }}">
                                        <i class="zwicon-arrow-left"></i></a>
                                    </li>
                                {% else %}
                                    <li class="page-item pagination-prev disabled"><a class="page-link" href="#">
                                        <i class="zwicon-arrow-left"></i></a>
                                    </li>
                                {% endif %}
                                {# end of previous page button #}

                                {# for pages button #}
                                {% for i in all_event.paginator.page_range %}
                                    <li class="page-item {% if all_event.number == i %}active{% endif %}">
                                        <a class="page-link" href="{% url 'arena:arena_dashboard:viewAllEventCenter' %}?page={{ i }}">{{ i }}</a>
                                    </li>
                                {% endfor %}
                                {# end of pages button #}

                                {# for next page number #}
                                {% if all_event.has_next %}
                                    <li class="page-item pagination-next">
                                        <a class="page-link" href="{% url 'arena:arena_dashboard:viewAllEventCenter' %}?page={{ all_event.next_page_number }}"><i class="zwicon-arrow-right"></i></a>
                                    </li>
                                {% else %}
                                    <li class="page-item pagination-next disabled">
                                        <a class="page-link" href="#"><i class="zwicon-arrow-right"></i></a>
                                    </li>
                                {% endif %}
                                {# end of next page number #}

                                {# for direct last page number #}
                                {% if all_event.number == all_event.paginator.num_pages %}
                                    <li class="page-item pagination-first disabled">
                                        <a class="page-link" href="#"><i class="zwicon-expand-right"></i></a>
                                    </li>
                                {% else %}
                                    <li class="page-item pagination-first">
                                        <a class="page-link" href="{% url 'arena:arena_dashboard:viewAllEventCenter' %}?page={{ all_event.paginator.num_pages }}"><i class="zwicon-expand-right"></i></a>
                                    </li>
                                {% endif %}
                                {# end of direct last page number #}
                            {% endif %}
                            </ul>
                            </nav>
                        </div>
                    </div>
                {% else %}
                    <h2>No Event Center Available</h2>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}