{% extends 'arena/dash_base.html' %}
{% load static %}

{% block content %}
    <div class="content__inner content__inner--sm">

        <div class="contacts row">

            <div class="col-md-12 col-sm-12 col-12">
                <div class="card widget-profile">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="{% static 'arena/demo/img/contacts/1.jpg' %}" class="widget-profile__img" alt="">
                            <h2 class="card-title">{{ user.username }}</h2>
                            <p class="card-subtitle">{{ user.email }}</p>
                        </div>

                    </div>

                    <div class="widget-profile__list">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="media">
                                        <div class="avatar-char"><i class="zwicon-user"></i></div>
                                        <div class="media-body">
                                            <strong>{{ user.get_full_name }}</strong>
                                            <small>Fullname</small>
                                        </div>
                                    </div>
                                    <div class="media">
                            <div class="avatar-char"><i class="zwicon-user"></i></div>
                            <div class="media-body">
                                <strong>{{ user.username }}</strong>
                                <small>Username</small>
                            </div>
                        </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="media">
                                        <div class="avatar-char"><i class="zwicon-mail"></i></div>
                                        <div class="media-body">
                                            <strong>{{ user.email }}</strong>
                                            <small>Email</small>
                                        </div>
                                    </div>
                                    <div class="media">
                            <div class="avatar-char"><i class="zwicon-password"></i></div>
                            <div class="media-body">
                                <strong>xxxxxxxx</strong>
                                <small>Password</small>
                            </div>
                        </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                     <div class="media">
                            <div class="avatar-char"><i class="zwicon-clock"></i></div>
                            <div class="media-body">
                                <strong>{{ user.date_created }}</strong>
                                <small>Joined</small>
                            </div>
                        </div>
                                </div>
                            </div>
                        </div>



                        <div class="p-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}